@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@media screen and (min-device-width: 426px) {
  .underheader {
    padding: 0 20% 5% 20%;
  }
  .four_elements {
    width: 70vw;
   }
  .element {
    flex-basis: 40%;
   }
  .stay_productive {
    width: 50vw;
    float: left;
  }
  .stay_productive_text {
    width: 40vw;
    padding: 25px 30px;
  }
  .comments {
    background-image: url("images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: 0 10%;
    display: flex;
    width: 90vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }
  .comm {
    flex-basis: 25%;
  }
  .comm p {
    font-size: 12pt;
  }
  .form_box {
    width: 70%;
  }
  .email_form {
    width: 35vw;
    margin-right: 20px;
  }
  .button_2 {
    padding: 15px 40px;
  }
  .table_smallscreen {
    display: none;
  }
  .cell_0 {
    width: 2%;
  }
  .cell_1 {
    width: 30%;
  }
  .cell_2 {
    width: 3%;
  }
  .cell_3 {
    width: 20%;
  }
  .cell_4 {
    width: 15%;
  }
  .cell_5 {
    width: 15%;
  }
  .cell_5 img {
    padding: 0 3px;
  }
  td {
    vertical-align: top;
    padding: 10px;
  }
}

@media screen and (max-device-width: 425px) {
  .underheader {
    padding: 5%;
  }
  .four_elements {
    width: 90vw;
   }
  .stay_productive_text {
    width: 90vw;
    display: inline-block;
    padding: 25px 30px;
    text-align: initial;
  }
  .comments {
    background-image: url("images/bg-quotes.png");
    background-repeat: no-repeat;
    display: flex;
    width: 70vw;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
  }
  .comm p {
    font-size: 18pt;
  }
  .form_box {
    width: 90%;
  }
  .email_form {
    width: 50vw;
    margin-bottom: 20px;
  }
  .button_2 {
    padding: 15px 150px;
  }
  .table_largescreen {
    display: none;
  }
  .cell_0 {
    width: 5%;
  }
  .cell_1 {
    width: 50%;
  }
  .cell_2 {
    text-align: center;
  }
  .tr_space {
    height: 50px;
  }
  td {
    padding: 10px;
  }
  table img {
    height: 40px;
    margin: 0 50px;
  }
  table p {
    font-size: 25pt;
  }
}

body {
  margin: auto;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
a {
  color: #5FBEB2;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h4 {
  font-size: 20pt;
}
p {
  font-size: 15pt;
}
.header {
  background: #1C2230;
  margin-bottom: -5px;
}
.logo {
  display: inline-block;
  width: 30%;
  height: 150px;
  line-height: 200px;
  text-align: center;
}
nav {
  display: flex;
  width: 40%;
  height: 150px;
  margin-right: 20px;
  float: right;
  justify-content: space-around;
  align-items: center;
}
nav p {
  font-size: xx-large;
}
main {
  background-color: #161F2A;
  text-align: center;
}
.underheader {
  background-color: #1C2230;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.underheader p {
  font-size: 25pt;
  padding: 10px 10%;
}
.button_1 {
  padding: 20px 100px;
  border-radius: 50px;
}
.button_2 {
  border-radius: 50px;
}
.button {
  background: linear-gradient(to right, #4ECAD6, #3FADD0);
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.button:active {
  background: linear-gradient(to top, #4ECAD6, #3FADD0);
}
.four_elements {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
}
.element {
  padding: 5%;
}
.stay_productive {
  height: 450px;
}
.stay_productive_text {
  display: inline-block;
  text-align: initial;
}
.comments {
  text-align: left;
}
.comm {
  background: #1C2230;
  padding: 20px 40px;
}
.comm p, h5 {
  margin: 5px;
}
.comm_author {
  display: inline-block;
  float: left;
}
.comm_author img {
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.form_box {
  position: relative;
  bottom: -80px;
  background-color: #1C2230;
  margin: auto;
  padding: 20px 50px;
}
.email_form {
  height: 50px;
  border-radius: 50px;
  text-indent: 40px;
  outline: none;
}
fieldset, fieldset:focus {
  border: none;
}
footer {
  background-color: black;
  margin-top: -5px;
  padding: 120px 50px 20px 50px;
}
.logo_bottom {
  padding: 20px 0;
}
table p {
  margin: 0;
}

